<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/stroevka1.css">
    <title>Строевая записка ФПСОИБ</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body style="background-color:#111a33 ;">
<noscript>У Вас выключена поддержка JavaScript. Пожалуйста, узнайте, как включить его для своего браузера и активируйте его в настройках.</noscript>
<header>

</header>


<nav class="menu">
    <ul>
        <img src="эмблема.png" alt="" width="70px">
        <li><a href="#4kurs">Редактированиe</a></li>
        <li><a href="arhiv.html">Архив</a></li>
        <li><a href="#">Аналитика</a></li>
    </ul>
</nav>

<div class="4kurs">
<!--    <select id="gender">-->
<!--            <option>Select Your Gender</option>-->
<!--            <option value="Male">Male</option>-->
<!--            <option value="Female">Female</option>-->
<!--    </select>-->
<!--    <select id="name">-->
<!--    </select>-->

    <div class="redac">
        <button id="addButton">➕</button>
        <p class="bol">Больные</p>
        <div class="input">
            <select id="vzvod">
                {%- for platoon in platoons -%}
                    <option value="{{ platoon }}">{{ platoon }}</option>
                {%- endfor -%}
            </select>
            <select id="vzvods">
                {%- for cadet in cadets -%}
                    <option value="{{ cadet }}">{{ cadet }}</option>
                {%- endfor -%}
            </select>
            <input class="text-field__input2" type="text" id="prichina" placeholder="диагноз"/>
            <input class="text-field__input3" type="text" id="data" placeholder="{{ date_today }}" onfocus="(this.type='date')" min="2024-01-01" max="2077-01-01"/>
            <button class="removeButton"><b>—</b></button>
        </div>
    </div>


    <div id="redac1">
        <button id="addButton1">➕</button>
        <p class="naryad">Наряд</p>
        <div class="input1">
            <select class="vzvod">
                <option>901</option>
                <option>902</option>
                <option>903</option>
                <option>904</option>
            </select>
            <input class="text-field__input1" type="text" id="fio" placeholder="Иванов И.С."/>
            <select class="vzvod1">
                <option>суточный наряд</option>
                <option>наряд хозяйственный</option>
                <option>наряд по столовой</option>
            </select>
            <button class="removeButton1"><b>—</b></button>
        </div>
    </div>


    <div class="redac2">
        <button id="addButton2">➕</button>
        <p class="prochee">Прочее</p>
        <div class="input2">
            <select class="vzvod">
                <option>901</option>
                <option>902</option>
                <option>903</option>
                <option>904</option>
            </select>
            <input class="text-field__input1" type="text" id="fio" placeholder="Иванов И.С."/>
            <input class="text-field__input2" type="text" id="prichina" placeholder="укажите причину"/>
            <button class="removeButton2"><b>—</b></button>
        </div>
    </div>



    <div class="redac3">
        <button id="addButton3">➕</button>
        <p class="naryad">Неизвестная причина</p>
        <div class="input3">
            <select class="vzvod">
                <option>901</option>
                <option>902</option>
                <option>903</option>
                <option>904</option>
            </select>
            <input class="text-field__input1" type="text" id="fio" placeholder="Иванов И.С."/>
            <input class="text-field__input2" type="text" id="prichina" placeholder="укажите причину"/>
            <button class="removeButton3"><b>—</b></button>
        </div>
    </div>


    <input type="submit" id="cohranit" value="Подтвердить"/>
    <input type="submit" id="cohranit1" value="Изменить"/>

</div>

        <script src="static/js/ill_script.js"></script>
        <script src="static/js/option_handler.js"></script>
</body>

</html>

